<a href="https://colab.research.google.com/github/yyaannzhang/Python_Excel_Automation/blob/main/Copy_of_Copy_of_Python_Basics_Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a brief overview of basics concepts of Python programming

**Topics:**

1. Syntax, comments, operations
2. Workflow & Indentation
3. True, False
4. Conditions: IF, ELSE, ELIF
5. Variable Types 
6. Lists
7. Strings
8. Tuples
9. Dictionaries
10. DataFrames
11. Loops
12. Functions

Helpfull links:



*   https://www.datacamp.com/
*   https://stackoverflow.com/
*   https://www.w3schools.com/python/default.asp
*   https://pynative.com/python/
*   https://www.programiz.com/python-programming

# 1.&nbsp;Syntax

In [97]:
# Comment

# This is a comment !

Function

In [98]:
# this function called print()

print()

The *print()* function prints the specified message to the screen, or other standard output device.

The message can be a string, or any other object, the object will be converted into a string before written to the screen.

In [99]:
# to display the string 'Hello world' use the function print()

# as Hello world is a string you have to add single or double quotations marks

print('Hello world')

Hello world

In [100]:
# numbers

print(2)

2

In [101]:
# operations / calculation

print(2+3)

5

In [102]:
2+3

5

In [103]:
2+4
print(2+3)
print(1*8)

5
8

In [104]:
# string/text ==> quotation marks: single or double

print('This is a string')
print("This is a string")

This is a string
This is a string

In [105]:
# variables

# to assign a value use the symbol =
# assign a numerical variables

x = 2
y = 3

print(x)
print(y)
print(x, y)

2
3
2 3

In [106]:
# make operations with assigned variables

x+y

5

In [107]:
# assign a 'text' value to a variable
# make operations with strings

string1='love'
string2='data'

print(string1)
print(string2)

# concatenate them
print(string1 + string2)

love
data
lovedata

In [108]:
# add a space
print(string1 + ' ' + string2)

love data

# 2.&nbsp;Workflow & Indentation

Workflow is the series of activities that are necessary to complete a task

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code. The standard Python indentation is 4 spaces, although tabs and any other space size will work, as long as it is consistent.

In [109]:
# Python will give you an error if you skip the indentation:

a=5
b=2

if a > b:
  print("a is greater than b !")

a is greater than b !

In [110]:
# the correct way to use indentation
# ends with a colon (:)

a=5

b=2

if a > b:
  print("a is greater than b ! ")

a is greater than b !

# 3.&nbsp;True, False

In [111]:
# Boolean True, False

# If a statement is correct then it will return True
# IF the statement is NOT correct , it will return False
# use == symbol

a=1
b=2
c=1

print(a==b)

False

In [112]:
var_1 = 2
print(var_1)

2

In [113]:
print(a==c)

True

# 4.&nbsp; Condition: IF, ELSE, ELIF

In [114]:
# IF the statement is true then..do something

x = 1

if x > 0:
  print('x is grater then 0')

x is grater then 0

In [115]:
x = -2

if x > 0:
  print('x is greater then 0')

In [116]:
# IF the statement is true then..do something, ELSE otherwise do something else

x= -5

if x>0:
  print('x is grater then 0')
else:
  print('x is less then 0')

x is less then 0

In [117]:
x=0

if x>0:
  print('x is grater then 0')
else:
  print('x is less then 0')

x is less then 0

In [118]:
x = -6

if x>0:
  print('x is grater then 0')
elif x==0:
  print('x is equal to 0')
else:
  print('x is less then 0')

x is less then 0

## IF, ELIF, ELSE Practice ***

Write a code to return the evaluation of a variable called "grade". 
The grade has to be a numerical variable from 1 to 10.
>If the grade is below 5 return "You failed".

>If the grade is between 5 and 8 included return "You passed"

>If the grade is over 8 then return "You excelled"

Hint:


1.   create a variable called grade, and give it a randome value from 1 to 10
2.   Then imagine possible scenarios of what value that variable can get, to correctly use IF, ELIF, ELSE

grade = ???

if grade ??? 5:

____print(????)

elif grade ??? 5 and ????:

____print(????)

else:
____????

In order to better understand how to work with IF, ELIF, ELSE, please try to write by yourself the code for the following tasks.

If you don't figure out how to do it, or you just want to check if you got the right solution, just click the arrow next to "Display Solution" and click on "Run button" to execute the code

In [119]:
#  return the evaluation of a variable called "grade". The grade has to be a numerical variable from 1 to 10.

# create a variable 'grade' and assign a random value from 1 to 10

# use IF, ELIF, ELSE statements

### If the grade is below 5 return "You failed".

### If the grade is between 5 and 8 included return "You passed"

##  If the grade is over 8 then return "You excelled"



# your code here ....

In [120]:
#@title Display the solution 

#  return the evaluation of a variable called "grade". The grade has to be a numerical variable from 1 to 10.

# create a variable 'grade' and assign a random value from 1 to 10

grade = 2

if grade < 5:
  print('You failed')
elif grade >= 5 and grade <=8:
  print('You passed')
else:
  print('You excelled')

You failed

# 5.&nbsp;Variable types

## Integer

In [121]:
# integer
age = 7
print(type(age))

<class 'int'>

##Float

In [122]:
# float
age = 7.5
print(type(age))

<class 'float'>

## String

In [123]:
# str
name = 'Jessica'
print(type(name))

<class 'str'>

In [124]:
# Definition of pi_string
pi_string = "3.1415926"
print('the type of pi_string variable: ', type(pi_string))
print('the value of pi_string variable: ', pi_string)
print('')

the type of pi_string variable:  <class 'str'>
the value of pi_string variable:  3.1415926

In [125]:
# convert string to float
pi_float= float(pi_string)
print('the type of pi_float variable: ', type(pi_float))
print('the value of pi_float variable: ', pi_float)
print('')

the type of pi_float variable:  <class 'float'>
the value of pi_float variable:  3.1415926

In [126]:
# convert float to integer
pi_int= int(pi_float)
print('the type of pi_int variable: ', type(pi_int))
print('the value of pi_int variable: ', pi_int)
print('')

the type of pi_int variable:  <class 'int'>
the value of pi_int variable:  3

In [127]:
var_float = round(3.6, 0)
int(var_float)

4

More about convertion of string and int
https://realpython.com/convert-python-string-to-int/

##Tuple

In [128]:
# tuple
name_age = (name, age)
print(name_age)
print(type(name_age))

('Jessica', 7.5)
<class 'tuple'>

## Date

In [129]:
# date
date = '2022-12-31' # separated by hyphens
print(date)
print(type(date))

2022-12-31
<class 'str'>

In [130]:
# To manipulate dates in Python ...
# we need to import datetime package from datetime module ( very important !!! )

from datetime import datetime

In [131]:
# to convert the string into a date object...

# with .strptime method  we tell Python how to read the string, by specifying which part is the year (%Y), month (%m), day (%d), 
# all separated by hyphen '%Y-%m-%d'

date = datetime.strptime(date, '%Y-%m-%d')

print(date)
print(type(date))

2022-12-31 00:00:00
<class 'datetime.datetime'>

In [132]:
# if we want to omitt time (hous, minutes, seconds)

# to convert the string into a date object...

# with .strptime method  we tell Python how to read the string, by specifying which part is the year (%Y), month (%m), day (%d), 
# all separated by hyphen '%Y-%m-%d'

# we need to add .date() in the end, to tell python to convert it to date

date = '2022-12-31' # separated by hyphens

date = datetime.strptime(date, '%Y-%m-%d').date()

print(date)
print(type(date))

2022-12-31
<class 'datetime.date'>

In [133]:
# to convert a string that have date + time (hours, minutes, seconds...)
# we need to tell python that the 1st bit of the string is the month, separated by a slash, 
# then day, 
# then year (with format %y, meaning 18 instead of 2018)
# the hours, (%H) separated by :
# then minutes, (%M) separated by :
# the seconds, (%S)

datetime_time = '09/19/18 13:55:26'

datetime_time = datetime.strptime(datetime_time, '%m/%d/%y %H:%M:%S')

print(type(datetime_time))
print(datetime_time)  # printed in default format

<class 'datetime.datetime'>
2018-09-19 13:55:26

In [134]:
# Print the date in the format 'YYYY-MM'

# our datetime_time variable is already perceived as a date by Python...


print(datetime_time.strftime('%Y/%m'))

2018/09

In [135]:
# if we want the month first and then the year
print(datetime_time.strftime('%m-%Y'))

09-2018

The date conversions can be helpfull, as when working with excels, often, Python reads the dates as a string.

So, you'll need to convert the strings that are supposed to be read as a date ....

In [136]:
# ... But, Python allows you create a date from the start

# to do so, you need to import package date from datetime module

from datetime import date

anniversary_date = date(1992, 8, 24) # year, month, day
print(anniversary_date)
print(type(anniversary_date))

1992-08-24
<class 'datetime.date'>

More about date conversion
https://www.digitalocean.com/community/tutorials/python-string-to-datetime-strptime

More about dates https://www.w3schools.com/python/python_datetime.asp

More about date and time manipulation https://www.programiz.com/python-programming/datetime

How to format dates https://www.geeksforgeeks.org/how-to-format-date-using-strftime-in-python/

Practice dates https://campus.datacamp.com/courses/working-with-dates-and-times-in-python/dates-and-calendars?ex=1

# 6.&nbsp;Lists

Lists are used to store multiple items in a single variable.

More about lists https://www.w3schools.com/python/python_lists.asp

## List creation

In [137]:
# Using list constructor
my_list1 = list((1, 2, 3))
print(my_list1)

[1, 2, 3]

In [138]:
# create a list
# Note: square barakets will allow the list to contain different types of elements 

our_list = ["a","b","c", 1, 1.5]
print('the type of our_list', type(our_list))
print(our_list)

the type of our_list <class 'list'>
['a', 'b', 'c', 1, 1.5]

## Append an element

In [139]:
# append an element to the list
# with a method of ".append" following the name of the list
our_list.append("d") # it will append 'd' at the end of the list
print(our_list)

['a', 'b', 'c', 1, 1.5, 'd']

## Index and Slicing

The items in a list can be accessed through indexing and slicing. This section will guide you by accessing the list using the following two ways



*   **Using indexing**, we can access any item from a list using its index number
*   **Using slicing** , we can access a range of items from a list

Index

In [140]:
# access element in the list

# list indexing starts a 0 => very important logics to remember => the first item in a list is indexed 0 by Python

# access first element in the list
our_list[0]

'a'

In [141]:
# access last element in the list
our_list[-1]

'd'

In [142]:
# negative index: the seconf element from the end of the list

our_list[-2]

1.5

In [143]:
# access the 3rd element of the list

print(our_list)
our_list[2] # because our first index is 0

['a', 'b', 'c', 1, 1.5, 'd']

'c'

Slicing

In [144]:
# the first 2 elements

print(our_list)
print(our_list[2])
our_list[:2] 
# till the elemend indexed 2 => the upper limit is excluded!

['a', 'b', 'c', 1, 1.5, 'd']
c

['a', 'b']

In [145]:
# Stating from 2nd item to last item ==> ['c', 1, 1.5, 'd']

print(our_list)
print(our_list[2:]) # not that here the lower limit is included

['a', 'b', 'c', 1, 1.5, 'd']
['c', 1, 1.5, 'd']

In [146]:
# access the sublist c to 1.5 ==> ['c', 1, 1.5]

print(our_list)
print(our_list[2])
print(our_list[4])

['a', 'b', 'c', 1, 1.5, 'd']
c
1.5

In [147]:
our_list[2:4] # note that upper limit is not included

['c', 1]

In [148]:
our_list[2:5] # we have to add +1 to upper limit if we want to include 1.5

['c', 1, 1.5]

##Length

In [149]:
# length of the list
len(our_list)

6

## Insertions

In [150]:
# insert an element in the list at 1st position

our_list.insert(0, "First element") # instert before 1st element
print(our_list)

['First element', 'a', 'b', 'c', 1, 1.5, 'd']

In [151]:
# insert an element in the list before the last one

our_list.insert(-1,"element") # instert before last element
print(our_list)

['First element', 'a', 'b', 'c', 1, 1.5, 'element', 'd']

## Remove

In [152]:
# remove element
our_list.remove("First element")
print(our_list)

['a', 'b', 'c', 1, 1.5, 'element', 'd']

In [153]:
# remove element by its index

our_list.pop(0)
print(our_list)

['b', 'c', 1, 1.5, 'element', 'd']

## Nested List

In [154]:
# we can have nested lists

nested_list = [[1,2,3],6,7,5]
print(nested_list)

[[1, 2, 3], 6, 7, 5]

In [155]:
# length of nested ==> the list within my_list [1, 2, 3] will be considered a single element
len(nested_list)

4

In [156]:
# access 1st element of nested list
nested_list[0]

[1, 2, 3]

In [157]:
# access 2nd element of nested list
nested_list[1]

6

In [158]:
# access an element from a list within the nested list 2
nested_list[0][1]

2

More about lists https://pynative.com/python-lists/

## List Practice ***

In order to better understand how to work with lists, please try to write by yourself the code for the following tasks.

If you don't figure out how to do it, or you just want to check if you got the right solution, just click the arrow next to "Display Solution" and click on "Run button" to execute the code

### Assigment 1

In [159]:
# Create a list called 'my_list' with elements 'John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30 and print it out

# you code here ....

In [160]:
#@title Display the solution 1

my_list= ['John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30]
print(my_list)

['John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30]

### Assigment 2

In [161]:
# Write a code to check how many element my_list have (the lengh of my_list)

# your code here ....

In [162]:
#@title Display the solution 2

# how many elements my_list has ?

len(my_list)

9

### Assigment 3

In [163]:
# append 'Bill' to the list and check now its length

# your code here...

In [164]:
#@title Display the solution 3

# append 'Bill' to the list and check now its length

my_list.append('Bill')
print('Now the modified my_list is: ', my_list)
print('The length of the modified list is: ', len(my_list))

Now the modified my_list is:  ['John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30, 'Bill']
The length of the modified list is:  10

### Assigment 4

In [165]:
# return the element 'John' from my_list

# your code here

In [166]:
#@title Display the solution 4

# return 'John'
my_list[0]

'John'

### Assigment 5

In [167]:
# return 'Bill'

# your code here ...

In [168]:
#@title Display the solution 5

# return 'Bill'
my_list[-1]

'Bill'

### Assigment 6

In [169]:
# return element 34 from my_list

# your code here ...

In [170]:
#@title Display the solution 6

# return 34
my_list[-3]

34

### Assigment 7

In [171]:
# return John and Emma

# your code here ...

In [172]:
#@title Display the solution 7

# return John and Emma
my_list[:2]

['John', 'Emma']

### Assigment 8

In [173]:
# return Emma, 10, 5

# your code here ...

In [174]:
#@title Display the solution 8

# return Emma, 10, 5
my_list[1:4]

['Emma', 10, 5]

### Assigment 9

In [175]:
# return Tom, 34, 30, Bill

# your code here ...

In [176]:
#@title Display the solution 9

# return Tom, 34, 30, Bill

print(my_list[-4:])

#  OR

my_list[6:]

['Tom', 34, 30, 'Bill']

['Tom', 34, 30, 'Bill']

### Assigment 10

In [177]:
# insert an element 'Julia' in the list at 2nd position

# your code here ...

In [178]:
#@title Display the solution 10

# insert an element 'Julia' in the list at 2nd position (*** or 1st position in Python logic ***)

my_list.insert(1, "Julia") # instert before 1st element
print(my_list)

['John', 'Julia', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30, 'Bill']

### Assigment 11

In [179]:
# insert an element 'Anna" in the list before 30

# your code here ...

In [180]:
#@title Display the solution 11

# insert an element 'Anna" in the list before 30

my_list.insert(-2,"Anna") # instert before last element
print(my_list)

['John', 'Julia', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 'Anna', 30, 'Bill']

### Assigment 12

In [181]:
# remove element 'Emma' 
#  ==> 2 ways to remove it: 
# with .remove method (if you want tu use the value of the element) 
# or .pop method (using the index of the eelement)

# your code here ...

In [182]:
#@title Display the solution 12

# remove element 'Emma'
my_list.remove("Emma")
print(my_list)

## OR 
my_list.insert(2,"Emma")
my_list.pop(2)
print(my_list)

['John', 'Julia', 10, 5, 3, 'Daniel', 'Tom', 34, 'Anna', 30, 'Bill']
['John', 'Julia', 10, 5, 3, 'Daniel', 'Tom', 34, 'Anna', 30, 'Bill']

### Assigment 13

In [183]:
# append a new list [Sarah, 42, Jerry] ==> to obtain a nested list

# your code here ...

In [184]:
#@title Display the solution 13

my_list.append(['Sarah', 42, 'Jerry'])
print(my_list)

['John', 'Julia', 10, 5, 3, 'Daniel', 'Tom', 34, 'Anna', 30, 'Bill', ['Sarah', 42, 'Jerry']]

### Assigment 14

In [185]:
# return 'Sarah' (*** keep in mind that you have a nested list ***)

# your code here ...

In [186]:
#@title Display the solution 14

# return 'Sarah'
my_list[-1][0]

'Sarah'

# 7.&nbsp;Strings

In [187]:
string_a = 'text'
string_a

'text'

In [188]:
string_b = 'This is a '
string_b

'This is a '

In [189]:
string_b + string_a

'This is a text'

In [190]:
string_c = string_b + string_a
string_c

'This is a text'

In [191]:
string_c.lower()

'this is a text'

In [192]:
string_c.upper()

'THIS IS A TEXT'

In [193]:
# access a string
string_c[0]

'T'

In [194]:
# length (the space is counted a 1)
len(string_c)

14

In [195]:
# splitting strings
string_d = "Derrick-Matt-Jessica"
print(string_d)

Derrick-Matt-Jessica

In [196]:
# Split a string into a list where each word is a list item, use split() function
# split by hyphen

print(string_d.split("-"))

['Derrick', 'Matt', 'Jessica']

More about splitting strings https://www.w3schools.com/python/ref_string_split.asp

More about strings manipulations https://www.w3schools.com/python/python_ref_string.asp

https://www.programiz.com/python-programming/string

# 8.&nbsp;Tuples

A tuple is a collection which is ordered and unchangeable (imuatable)
.

In [200]:
tuple_a = ('Dog', 'Cat', 'Frog')

In [201]:
# inmutable
tuple_a.append('Mouse')

AttributeError: ignored

In [202]:
# ordered

tuple_a[0]

'Dog'

More about Tuples https://www.w3schools.com/python/python_tuples.asp

# 9.&nbsp;Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [203]:
# a dictionary is made of keys and values
# dictionary have curly brackets

dictionary = {"key_1":"value_0",
               "key_2":"value_2",
               "key_3":"value_3"}

dictionary

{'key_1': 'value_0', 'key_2': 'value_2', 'key_3': 'value_3'}

In [204]:
# create a dictionary called 'our_dictionnary'

our_dictionary = {"name":"Derrick",
                  "height":"6'0",
                  "location":"Lost"}
                  
# here "name" is the key and 'Derrick' is the value
our_dictionary

{'name': 'Derrick', 'height': "6'0", 'location': 'Lost'}

In [205]:
# access dictionary by key

print(dictionary["key_1"])

value_0

In [206]:
# change a value by key

dictionary["key_1"] = "value_1"
print(dictionary)

{'key_1': 'value_1', 'key_2': 'value_2', 'key_3': 'value_3'}

In [207]:
# add an element to dictionary

dictionary["eye color"] = "blue"
print(dictionary)

{'key_1': 'value_1', 'key_2': 'value_2', 'key_3': 'value_3', 'eye color': 'blue'}

In [208]:
# remove element
dictionary.pop("eye color")
print(dictionary)

{'key_1': 'value_1', 'key_2': 'value_2', 'key_3': 'value_3'}

## Dictionary Practice ***

In [213]:
# create a dictionary "my_dictionary"
# 1st key: 'names'
# values of 1st key: ['Anna', 'John', 'Matt']
# 2nd key: 'age'
# values of 2nd key: [23, 42, 12]

# your code here ....

In [214]:
#@title Display the solution 1

my_dictionary = {'names': ['Anna', 'John', 'Matt'],
                 'age': [23, 42, 12]   
                }
print(my_dictionary)

{'names': ['Anna', 'John', 'Matt'], 'age': [23, 42, 12]}

In [215]:
# add a new element with their gender: key='gender', values: ['F', 'M', 'M']

# your code here ...

In [216]:
#@title Display the solution 2

# add a new element with their gender: key='gender', values: ['F', 'M', 'M']
my_dictionary['gender']= ['F', 'M', 'M']
print(my_dictionary)

{'names': ['Anna', 'John', 'Matt'], 'age': [23, 42, 12], 'gender': ['F', 'M', 'M']}

In [217]:
# remove key age

# your code here

In [218]:
#@title Display the solution 3

# remove key age
my_dictionary.pop("age")
print(my_dictionary)

{'names': ['Anna', 'John', 'Matt'], 'gender': ['F', 'M', 'M']}

# 10.&nbsp;DataFrame

The dataframe is like a table with 2 dimensions, where you have columns and rows

In [219]:
dataframe = {"name":['Jess', 'Nick', 'Winston', 'Tom', 'Alex'],
              "age":['30', '35', '40', '27', '52'],
              "city":['Paris', 'Berlin', 'Madrid', 'Paris', 'London'],
             "country": ['France', 'Germany', 'Spain', 'France', 'UK']}

dataframe

{'name': ['Jess', 'Nick', 'Winston', 'Tom', 'Alex'],
 'age': ['30', '35', '40', '27', '52'],
 'city': ['Paris', 'Berlin', 'Madrid', 'Paris', 'London'],
 'country': ['France', 'Germany', 'Spain', 'France', 'UK']}

In [220]:
# import pandas package

import pandas as pd

More about pandas package https://pandas.pydata.org/

In [221]:
# create a dataframe

# load the the dictionary into a dataframe
df1 = pd.DataFrame(dataframe)

df1

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

In [222]:
# visualize the first 3 rows of df

df1.head(3) # please note that the row index start at 0

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain

In [223]:
# visualize the last 3 rows of df

df1.tail(3) # please note that the row index start at 0

      name age    city country
2  Winston  40  Madrid   Spain
3      Tom  27   Paris  France
4     Alex  52  London      UK

In [224]:
# df dimensions

df1.shape #retunr nb of rows, and nb of columns

(5, 4)

In [225]:
# nb of rows

df1.shape[0]

5

In [227]:
len(df1)

5

In [226]:
# nb. of columns
df1.shape[1]

4

In [228]:
len(df1.columns)

4

In [229]:
# get df columns

df1.columns

Index(['name', 'age', 'city', 'country'], dtype='object')

In [230]:
# 1st column index: starts at 0

df1.columns[0]

'name'

## Locations: .iloc & .loc

In [231]:
# access values by column name

df1['age']

0    30
1    35
2    40
3    27
4    52
Name: age, dtype: object

TO access values from dataframe we use **.iloc** and **.loc** attributes

**.iloc**

The pandas.DataFrame.iloc attribute is used to access elements from a pandas DataFrame using the integer position. 

The “.iloc” attribute allows inputs like an integer value, a list of integer values, and a slicing object with integers, and boolean array, etc.

The attribute will raise an “IndexError” if the requested index is out of bounds, except for the slicing indexer object.

iloc[row_position, column_position]

In [232]:
print(df1)
print('')

# acces 1st row with .iloc
df1.iloc[0] # a sing argument

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

name         Jess
age            30
city        Paris
country    France
Name: 0, dtype: object

In [233]:
print(df1)
print('')

# acces the last row with .iloc
df1.iloc[-1]

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

name         Alex
age            52
city       London
country        UK
Name: 4, dtype: object

In [234]:
# accessing a single element by index with .iloc attribute

print(df1)
print('')
print('the 1st element of df is: ', df1.iloc[0, 0])

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

the 1st element of df is:  Jess

In [235]:
# accessing the last element of the df
df1.iloc[-1, -1]

'UK'

In [236]:
# return element with value 40

print(df1)
print('')
df1.iloc[2,1] # row index 2 and col index 1

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

'40'

In [237]:
# out of bounds index
df1.iloc[12,2]

IndexError: ignored

In [238]:
print(df1)
print('')

# accessing a range of values by index
df1.iloc[:3, 1:3] # all elements till the 2nd row (not included) and columns from 1 to 3 (where 3 not included)

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

  age    city
0  30   Paris
1  35  Berlin
2  40  Madrid

**.loc**

The “.loc” is an attribute of the pandas.DataFrame. it is used to access elements from DataFrame based on row/column label indexing.

loc[row_label, column_label]

In [239]:
# the rows have indices, but no labels

print(df1.shape)

df1

(5, 4)

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

In [240]:
# reset the index of df, use the column name as index

df1 = df1.set_index('name')
print('the new shape of df1 is: ', df1.shape)
print('')
df1

the new shape of df1 is:  (5, 3)

        age    city  country
name
Jess     30   Paris   France
Nick     35  Berlin  Germany
Winston  40  Madrid    Spain
Tom      27   Paris   France
Alex     52  London       UK

In [241]:
# access an element by labels

print(df1)
print('')
print('The country of Nick is: ... ')
df1.loc['Nick', 'country']

        age    city  country
name
Jess     30   Paris   France
Nick     35  Berlin  Germany
Winston  40  Madrid    Spain
Tom      27   Paris   France
Alex     52  London       UK

The country of Nick is: ...

'Germany'

In [242]:
# access a range of elements by labels
print(df1)
print('')
print('The countris of Nick and Winston is: ... ')
df1.loc['Nick':'Tom', 'country']

        age    city  country
name
Jess     30   Paris   France
Nick     35  Berlin  Germany
Winston  40  Madrid    Spain
Tom      27   Paris   France
Alex     52  London       UK

The countris of Nick and Winston is: ...

name
Nick       Germany
Winston      Spain
Tom         France
Name: country, dtype: object

In [243]:
# the country of specific rows

df1.loc[['Alex', 'Nick'], 'country']

name
Alex         UK
Nick    Germany
Name: country, dtype: object

In [244]:
# the country and city of specific rows

df1.loc[['Alex', 'Nick'], ['country', 'city']]

      country    city
name
Alex       UK  London
Nick  Germany  Berlin

More about locations https://towardsdatascience.com/how-to-use-loc-and-iloc-for-selecting-data-in-pandas-bd09cb4c3d79

https://www.tutorialspoint.com/how-to-access-pandas-dataframe-elements-using-the-loc-attribute

https://www.tutorialspoint.com/how-to-access-pandas-dataframe-elements-using-the-iloc-attribute

## Filter

In [245]:
# filter all data that are in Paris

df1[df1['city']=='Paris']

     age   city country
name
Jess  30  Paris  France
Tom   27  Paris  France

## Join dataframes

In [246]:
dataframe_1 = {"prénom":['Matthew', 'Philippe'],
              "age":['32', '45'],
              "city":['London', 'London'],
               "pays": ['UK', 'UK']}

df2 = pd.DataFrame(dataframe_1)

df2.head()

     prénom age    city pays
0   Matthew  32  London   UK
1  Philippe  45  London   UK

In [254]:
print(df2.columns)

Index(['name', 'age', 'city', 'country'], dtype='object')

In [256]:
# change df columns

df2.columns = ['name', 'age', 'city', 'country']
df2.head()

       name age    city country
0   Matthew  32  London      UK
1  Philippe  45  London      UK

In [257]:
#compare both dfs column names

print('the column names of 1st df are: ', df1.columns)
print('the column names of 2nd df are: ', df2.columns)

the column names of 1st df are:  Index(['age', 'city', 'country'], dtype='object')
the column names of 2nd df are:  Index(['name', 'age', 'city', 'country'], dtype='object')

In [258]:
# join the dfs into a single one

# concatenate all df into a single one
df = pd.concat([df1, df2]) # it will use the column names  to join by

# check dataframes shapes
print('the df1 Shape is : ', df1.shape)
print('the df2 Shape is : ', df2.shape)
print('the new joined Dataframe Shape is : ', df.shape)
print('')

# visualize the new df
print('')
print('The output is not what reall wanted as we have NaN values in name columns and not all indices are the names...')
df

the df1 Shape is :  (5, 3)
the df2 Shape is :  (2, 4)
the new joined Dataframe Shape is :  (7, 4)


The output is not what reall wanted as we have NaN values in name columns and not all indices are the names...

        age    city  country      name
Jess     30   Paris   France       NaN
Nick     35  Berlin  Germany       NaN
Winston  40  Madrid    Spain       NaN
Tom      27   Paris   France       NaN
Alex     52  London       UK       NaN
0        32  London       UK   Matthew
1        45  London       UK  Philippe

In [259]:
# to be obtain a homogeneous df we need both dfs to be structured the same
# use name column as df index for df2 as df1 did

df2 = df2.set_index('name')
df2.head()

         age    city country
name
Matthew   32  London      UK
Philippe  45  London      UK

In [260]:
# join the dfs into a single one

# concatenate all df into a single one
df = pd.concat([df1, df2]) # it will use the column names  to join by

# check dataframes shapes
print('the df1 Shape is : ', df1.shape)
print('the df2 Shape is : ', df2.shape)
print('the new joined Dataframe Shape is : ', df.shape)
print('')

# visualize the new df
print('')
print('Now we have a homogeneous df')
df

the df1 Shape is :  (5, 3)
the df2 Shape is :  (2, 3)
the new joined Dataframe Shape is :  (7, 3)


Now we have a homogeneous df

         age    city  country
name
Jess      30   Paris   France
Nick      35  Berlin  Germany
Winston   40  Madrid    Spain
Tom       27   Paris   France
Alex      52  London       UK
Matthew   32  London       UK
Philippe  45  London       UK

## Add columns or rows

In [261]:
# add region a column region where all alues will be 'Europe'

df['region'] = 'Europe'
df

         age    city  country  region
name
Jess      30   Paris   France  Europe
Nick      35  Berlin  Germany  Europe
Winston   40  Madrid    Spain  Europe
Tom       27   Paris   France  Europe
Alex      52  London       UK  Europe
Matthew   32  London       UK  Europe
Philippe  45  London       UK  Europe

In [263]:
# add a column salary, with respective values
# please keep in mind that the length has to be the same

salary = ['40000', '45000', '50000', '55000', '60000', '65000', '70000'] # the list has to have the same nb of element as the nb of rows

df['salary']= salary

print(df.shape)
df

(7, 5)

         age    city  country  region salary
name
Jess      30   Paris   France  Europe  40000
Nick      35  Berlin  Germany  Europe  45000
Winston   40  Madrid    Spain  Europe  50000
Tom       27   Paris   France  Europe  55000
Alex      52  London       UK  Europe  60000
Matthew   32  London       UK  Europe  65000
Philippe  45  London       UK  Europe  70000

In [264]:
# add a new row
df.loc['John']= [40, 'New York','USA', 'North America', '75000']
df

         age      city  country         region salary
name
Jess      30     Paris   France         Europe  40000
Nick      35    Berlin  Germany         Europe  45000
Winston   40    Madrid    Spain         Europe  50000
Tom       27     Paris   France         Europe  55000
Alex      52    London       UK         Europe  60000
Matthew   32    London       UK         Europe  65000
Philippe  45    London       UK         Europe  70000
John      40  New York      USA  North America  75000

## Modify the df

In [265]:
# Philippe moved to Paris and we want to update the df

df.loc['Philippe', ['city', 'country']] = ['Paris', 'France']
df

         age      city  country         region salary
name
Jess      30     Paris   France         Europe  40000
Nick      35    Berlin  Germany         Europe  45000
Winston   40    Madrid    Spain         Europe  50000
Tom       27     Paris   France         Europe  55000
Alex      52    London       UK         Europe  60000
Matthew   32    London       UK         Europe  65000
Philippe  45     Paris   France         Europe  70000
John      40  New York      USA  North America  75000

In [266]:
# Philippe moved back  to London and even got a promotion and we want to update the df

df.iloc[6, [1, 2, 4]]= ['London', 'UK', '80000'] 

df

         age      city  country         region salary
name
Jess      30     Paris   France         Europe  40000
Nick      35    Berlin  Germany         Europe  45000
Winston   40    Madrid    Spain         Europe  50000
Tom       27     Paris   France         Europe  55000
Alex      52    London       UK         Europe  60000
Matthew   32    London       UK         Europe  65000
Philippe  45    London       UK         Europe  80000
John      40  New York      USA  North America  75000

## Explore df

In [268]:
# general info of df

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, Jess to John
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   age      8 non-null      object
 1   city     8 non-null      object
 2   country  8 non-null      object
 3   region   8 non-null      object
 4   salary   8 non-null      object
dtypes: object(5)
memory usage: 684.0+ bytes

In [269]:
# salary and age are object dtype, but we want it as numeric

# convert column of a DataFrame
df["age"] = pd.to_numeric(df["age"])
df["salary"] = pd.to_numeric(df.salary)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, Jess to John
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   age      8 non-null      int64
 1   city     8 non-null      object
 2   country  8 non-null      object
 3   region   8 non-null      object
 4   salary   8 non-null      int64
dtypes: int64(2), object(3)
memory usage: 684.0+ bytes

In [271]:
# df describe

df.describe()

             age        salary
count   8.000000      8.000000
mean   37.625000  58750.000000
std     8.296944  14078.859532
min    27.000000  40000.000000
25%    31.500000  48750.000000
50%    37.500000  57500.000000
75%    41.250000  67500.000000
max    52.000000  80000.000000

In [272]:
# distinct cities

df.city.unique()

array(['Paris', 'Berlin', 'Madrid', 'London', 'New York'], dtype=object)

In [273]:
# number of distinct cities
len(df['city'].unique())

5

## Groupby

In [275]:
#check the mean age by city
df.groupby(by=["city"])['age'].mean()

city
Berlin      35.0
London      43.0
Madrid      40.0
New York    40.0
Paris       28.5
Name: age, dtype: float64

In [276]:
# #check the total salary by city
df.groupby(by=["city"])['salary'].sum()

city
Berlin       45000
London      205000
Madrid       50000
New York     75000
Paris        95000
Name: salary, dtype: int64

In [277]:
# group by 2 variables

df.groupby(by=['region', "country"])['salary'].mean()

region         country
Europe         France     47500.000000
               Germany    45000.000000
               Spain      50000.000000
               UK         68333.333333
North America  USA        75000.000000
Name: salary, dtype: float64

## Pivot

Create a spreadsheet-style pivot table as a DataFrame.

The levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame

More about pivot function in python https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html

In [278]:
# create a table that contains data about some packaging

# the Box can be of wood or paper
# in colors red or blue
# of size small or large
# with thier respective quantity and weight

table = pd.DataFrame({"Box": ["wood", "wood", "wood", "wood", "wood",
                         "paper", "paper", "paper", "paper"],
                   "Color": ["red", "red", "red", "blue", "blue",
                         "red", "red", "blue", "blue"],
                   "Size": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "Qty": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "Weigth": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

table

     Box Color   Size  Qty  Weigth
0   wood   red  small    1       2
1   wood   red  large    2       4
2   wood   red  large    2       5
3   wood  blue  small    3       5
4   wood  blue  small    3       6
5  paper   red  large    4       6
6  paper   red  small    5       8
7  paper  blue  small    6       9
8  paper  blue  large    7       9

In [279]:
# import numpy module that help to work with numerical datatypes

import numpy as np

MOre about numpy package https://numpy.org/

In [281]:
# pivot table dataframe, to get the sum of Qty by Box and Color (rows), and split by Size (columns)

pivot = pd.pivot_table(table, # data to pivot
                       values='Qty', # column to aggregate
                       index=['Box', 'Color'], # Grouper, Keys to group by on the pivot table index.
                       columns=['Size'], # Keys to group by on the pivot table column., will be the columns value
                       aggfunc=np.sum)# the aggregation function

pivot

Size         large  small
Box   Color
paper blue     7.0    6.0
      red      4.0    5.0
wood  blue     NaN    6.0
      red      4.0    1.0

## DataFrame Practice ***

In [ ]:
# create a variable called "data" with a dictionnary (*** with {}  ***) and print it out

# 1s key:value pair : 'Name':['Jai', 'Princi', 'Gaurav', 'Anuj']
# 2nd key:value pair : 'Age':[27, 24, 22, 32]
# 3rd key:value pair : 'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj']
# 4th key;value pair : 'Qualification':['Phd', 'MA', 'MCA', 'Phd']

In [ ]:
#@title Display Solution 1

# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Phd', 'MA', 'MCA', 'Phd']}

data

In [ ]:
# create a dataframe 'df1' from dictionary "data"

# don't forget to import pandas package as pd 

import pandas as pd

# display the dataframe

# your code here ...

In [ ]:
#@title Display solution 2

import pandas as pd

# Convert the dictionary into DataFrame and call it df1
df1 = pd.DataFrame(data)

df1

In [ ]:
# display the first 2 rows of df1

# your code here

In [ ]:
#@title Display Solution 3

# display the first 2 rows of df1

df1.head(2)

In [ ]:
# display the last row of the df1

# your code here ...

In [ ]:
#@title Dsiplay Solution 4

df1.tail(1)

In [ ]:
# what are the dimensions of df1

# your code here...

In [ ]:
#@title Dsiplay Solution 5

# what are the dimensions of df1

df1.shape

In [ ]:
# how many rows ?

# your code here...

In [ ]:
#@title Display Solution 6

# how many rows ?

print(len(df1))

# OR ...

df1.shape[0]

In [ ]:
# how many columns

# your code here ...

In [ ]:
#@title Display Solution 7

# how many columns

print(df1.shape[1])

# or 

len(df1.columns)

In [ ]:
# what are the name of the columns

In [ ]:
#@title Display Solution 8

# what are the name of the columns

df1.columns

In [ ]:
# return the name of the second columns

# your code here ...

In [ ]:
#@title Display Solution 9

# return the name of the second columns (in Python logic)

df1.columns[1]

Locations & Slicing

In [ ]:
###  Locations -----------

# access the 2nd row (with .iloc) (in python logic)

# your code here ....

In [ ]:
#@title Display Solution 10

# access the 2nd row

print(df1)
print('')
df1.iloc[1]

In [ ]:
# return the data with .iloc

'''
Age  Adress 
24   Kanpur
22   Allahabad
'''

# your code here...

In [ ]:
#@title Display Solution 11

# return the data with .iloc

'''
Age  Adress 
24   Kanpur
22   Allahabad
'''

df1.iloc[1:3, 1:3]

In [ ]:
# return the data with .iloc

'''
Name  Age 
Jay   27
Anuj  32
'''

# your code here...

In [ ]:
#@title Display Solution 12

# return the data with .iloc

'''
Name  Age 
Jay   27
Anuj  32
'''


df1.iloc[[0, -1], [0,1]]

In [ ]:
# return qualification for rows from 'Jai' to 'Anuj' with .loc 

# don't forget to reset the index by using column 'Name' (*** .set_index() ***)

# your code here...

In [ ]:
#@title Display Solution 13

# return qualification for 'Jai' to 'Anuj' with .loc (!!! reset the index)

print(df1)

print('')

df1 = df1.set_index('Name')

df1.loc['Jai':'Anuj', 'Qualification']

In [ ]:
# return the qualification and city for 'Jai' , 'Anuj', 'Gaurav' with .loc

# your code here ...

In [ ]:
#@title Display Solution 14

# return the qualification and city for 'Jai' , 'Anuj', 'Gaurav' with .loc


df1.loc[['Jai' , 'Anuj', 'Gaurav'], 'Qualification']

In [ ]:
####  Filter -------------

# access the only the data where Qualification is Phd

# your code here ...

In [ ]:
#@title Display Solution 15

# access the only the data where Qualification is Phd


df1[df1['Qualification'] == 'Phd']

*Join dataframes*

In [ ]:
#### Join dfs ---------

# create another dataframe df2

# Define a dictionary containing employee data
data = {'Name':['Matt', 'Joe'],
        'Age':[65, 43 ],
        'Address':['Monge', 'Chatelet'],
        'Qualification':[ 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame and call it df2

# your code here ...

In [ ]:
#@title Display Solution 16

# # Convert the dictionary into DataFrame and call it df2

df2 = pd.DataFrame(data)
df2

In [ ]:
# joinf df1 and df2 into a new dataframe df

# your code here

In [ ]:
#@title Display Solution 17

In [ ]:
# check the dimension of the new joined df

# your code here

In [ ]:
#@title Display Solution 18

In [ ]:
#### Modify df ----------

# add a new row ['Calib', '34', 'Monge', 'Phd]

# your code here ...

In [ ]:
#@title Display Solution 19

In [ ]:
# Matt changed the address to 'LA Défense' or 'La Défense' , update the data frame with .iloc (LA Défense) and loc (La Défense)

# your code here

In [ ]:
#@title Display Solution 20

In [ ]:
#### Explore df ------------

# what data type are columns

# your code here

In [ ]:
#@title Display Solution 21

In [ ]:
#### Filter ----

# filter data of people that have Phf

# your code here

In [ ]:
#@title Display Solution 22

In [ ]:
#### Groupby -----------

# what's the average age of people that have Phd

# your code here

In [ ]:
#@title Display Solution 23

In [ ]:
#### Pivot -----------

# create a pivot table where rows are the qualifications and names, columns their adress, and values in the pivot table is the mean age

## hint
# first import numpy package as np
# use pd.pivot_table() with necessary arguments

# your code here ...

In [ ]:
#@title Display Solution 24

# 11 Loops

##  FOR

A **for** loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc

In [282]:
# visualize code execution
# https://pythontutor.com/python-debugger.html

# create a list of groceries
groceries = ['Apple','Orange', 'Banana', 'Kiwi']

groceries

['Apple', 'Orange', 'Banana', 'Kiwi']

the syntax of a 'for loop':


**for** element **in** list:   
 _____*do something *

It's like saying : for each element in the list, do something with it

In [283]:
# iterate through list to access/print each element of the list
for item in groceries:
    print(item)

Apple
Orange
Banana
Kiwi

In [284]:
# we can iterate with condition

numbers = [-2, 4, -1, 8, 10]

# if element is positive then...
# devide each element in the list by 2
# else, print that this number is not positive

for number in numbers:
  if number > 0:
      print(number/2)
  else:
    print('this number is not positive')

this number is not positive
2.0
this number is not positive
4.0
5.0

In [285]:
# we can iterate through a chain of strings

string = 'ilovepython'

for letter in string:
  print(letter)

i
l
o
v
e
p
y
t
h
o
n

In [288]:
# iterate through a chain of strings and do something

vowels = ['a', 'e', 'i', 'o', 'u']

# iterate through the string 'ilovepython' and if the letter is a vowel then print it in CAPITALS with function upper()
for letter in string:
  if letter in vowels:
    print(letter.upper())
  else:
    print(letter)

I
l
O
v
E
p
y
t
h
O
n

Nested LIsts

In [289]:
# iterate through nested lists

fruit_list = [['Apple', 4],['Orange', 2],['Banana', 6],['Kiwi', 5]]
fruit_list

[['Apple', 4], ['Orange', 2], ['Banana', 6], ['Kiwi', 5]]

In [290]:
# access 1 element from the second item ("2")
fruit_list[1][1]

2

In [291]:
# return 'Banana:

# fruit_list[???] # the element  ['Banana', 6]

fruit_list[2][0] # only the sub_element 'Banana'

'Banana'

In [293]:
for element in fruit_list:
    print(element)

['Apple', 4]
['Orange', 2]
['Banana', 6]
['Kiwi', 5]

In [294]:
# sometimes you'll need to access each element in a nested list and store them in a flat list (regular list) 

# iterate through nested lists
# accesst each element and sore it as a flat list
# the expected output: ['Apple', 4, 'Orange', 2, 'Banana', 6, 'Kiwi', 5]

# create a copy of fruit_list called copy_list wtth copy() function

copy_list = fruit_list.copy()
print(copy_list)
print('')

# creat an empty list where we'll store all elements

flat_list = [] # empty list
print(flat_list)
print('')

for sublist in copy_list:
    for item in sublist:
        flat_list.append(item)

print(flat_list)

[['Apple', 4], ['Orange', 2], ['Banana', 6], ['Kiwi', 5]]

[]

['Apple', 4, 'Orange', 2, 'Banana', 6, 'Kiwi', 5]

In [295]:
# another syntax to get the same result
# iterate through a nested loop 
flat_list = [item for sublist in l for item in sublist]
flat_list

NameError: ignored

## WHILE

With the while loop we can execute a set of statements as long as a condition is true

In [ ]:
# as long i is less then 10, print i

i = 1
while i < 10:
  print(i)
  i += 1 # increment by 1

In [ ]:
# exit when i gets to 4

i = 1
while i < 10:
  print(i)
  if i == 4:
    break
  i += 1

## Loops Practice ***

In [ ]:
# Create a list "numbers"

numbers = [0, -2, 3, 4, -1, 8, -5]

# write a code (using for loop),  to iterate through the lis numbers
 # to multiply each element of the list by 3, if this element > 0,
 #  multiply by 2 if element is < 0,
 # and return 0 if element is 0

# 12.&nbsp;Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

More about functions https://www.w3schools.com/python/python_functions.asp

In [ ]:
# create a function called operation
# the syntax of a function is the keyword def, name of the function, the parameters to use, and the action of the function

# write a function operation, when given the parameter x, would add + 2.6 to it, and then devided by 5.5
# store the output int a variable "result"
# and print out the output

def operation(x):
    result = (x + 2.6)/5.5
    print(round(result, 2))


operation(10)

Body Fat Calculator

In [ ]:
# compute body fat

height = 165 # in inches (devide cm by 2,54)
weight = 110 # in pounds (multiply kg by 2,205))

# CALCULATE YOUR BODY MASS INDEX (BMI)
bmi = (weight/(height**2) ) * 703 # conversion factor of 703
bmi

In [ ]:
# create a function called bmi that would automatically compte the body fat 

def bmi(height,weight):
  bmi= (weight/(height**2) ) * 703 
  print('your Body Mass Index is ', round(bmi, 2))

In [ ]:
bmi(168, 66)

In [ ]:
bmi(height=65,weight=110)

*Body Fat Percentage for women*

In [ ]:
def bfp_women(bmi, age):
  body_fat_pct = (1.20 * bmi) + (0.23 * age) - 5.4
  print(body_fat_pct)

bfp_women(bmi= 18.3, age = 30)

*Body fat diagnos for women*

Women diagnosis:

20-40 yrs old: 


> 
Underfat: under 21 percent, Healthy: 21-33 percent, Overweight: 33-39 percent, Obese: Over 39 percent

41-60 yrs old:

> 

Underfat: under 23 percent, Healthy: 23-35 percent, Overweight : 35-40 percent Obese: over 40 percent 


61-79 yrs old:

> 

Underfat: under 24 percent, Healthy: 24-36 percent, Overweight: 36-42 percent, Obese: over 42 percent Men:

In [ ]:
def bfp_women_diagnosis(height, weight, age):
  bmi = (weight/(height**2) ) * 703
  body_fat_pct = round(((1.20 * bmi) + (0.23 * age) - 5.4),2)
  if age <=40:
     if body_fat_pct < 21:
        print('your fat percentage is: ',  body_fat_pct, "you are underfat")
     elif bmi >= 21 and bmi < 33:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     elif bmi >= 33 and bmi < 40:
        print('your fat percentage  is: ',  body_fat_pct, "you are overweight")
     else : 
        print('your fat percentage  is: ',  body_fat_pct, "you are obese")
  if age > 40 and age <=60:
     if body_fat_pct < 23:
        print('your fat percentage is: ',  body_fat_pct, "you are underfat")
     elif bmi >= 23 and bmi < 35:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     elif bmi >= 35 and bmi < 40:
        print('your fat percentage  is: ',  body_fat_pct, "you are overweight")
     else : 
        print('your fat percentage  is: ',  body_fat_pct, "you are obese")
  if age > 60:
     if body_fat_pct < 24:
        print('your fat percentage is: ',  body_fat_pct, "you are underfat")
     elif bmi >= 24 and bmi < 36:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     elif bmi >= 36 and bmi < 42:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     else : 
        print('your fat percentage  is: ',  body_fat_pct, "you are obese")

bfp_women_diagnosis(65, 180, 30)

*Body Fat Percentage for men*

In [ ]:
def bfp_men(height, weight, age):
  bmi  = (weight/(height**2) ) * 703
  body_fat_pct = (1.20 * bmi) + (0.23 * age) - 16.2
  print(body_fat_pct)

bfp_men(height= 69, weight= 170, age = 40)


Men:

20-40 yrs old: 
> Underfat: under 8 percent, Healthy: 8-19 percent, Overweight: 19-25 percent, Obese: over 25 percent

41-60 yrs old:

> Underfat: under 11 percent, Healthy: 11-22 percent, Overweight: 22-27 percent, Obese: over 27 percent

61-79 yrs old:

> Underfat: under 13 percent, Healthy: 13-25 percent, Overweight: 25-30 percent, Obese: over 30 percent

## Function Practice ***

*   write a function **bfp_men_diagnosis()** that would calculate the bfp for men and would do tha diagnosis 
*   write a function **bfp_diagnosis()** that would calculate the bfp would do tha diagnosis, no matter women or men giving arguments (height= , weight= , age = , gender = )